language: python
dist: xenial
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
install:
  - pip install -r requirements.txt
  - pip install coverage python-coveralls
script: nosetests tests/unit --cover-erase --with-coverage --cover-package skew
after_success: coveralls
